### Importing the Required Libraries

In [1]:
import numpy as np                                       # to create array
import pandas as pd                                      # for creating dataframe
import matplotlib.pyplot as plt                          # to plot the data (visulaize it)
import seaborn as sns                                    # to plot the data (visulaize it)
import sklearn.datasets                                  # to get the dataset we need to work with from the sklearn
from sklearn.model_selection import train_test_split     # to split the data into train and test
from xgboost import XGBRegressor
from sklearn import metrics                              # for evaluation the model

### Loading California_Housing Dataset from Datasets library

In [27]:
california_house_price_dataset = sklearn.datasets.fetch_california_housing()

### Loading the dataset into pandas dataframe

In [21]:
house_price_df = pd.DataFrame(california_house_price_dataset.data, columns=california_house_price_dataset.feature_names)

### Inserting Targe "Home price" column

In [30]:
house_price_df['Price'] = california_house_price_dataset.target

In [32]:
house_price_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422